/* обнуление */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

header{
    background: rgb(103, 123, 84);
    color: aliceblue;
}

.header__row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo{
    max-width: 100px;
    max-height: 200px;

}

.header__logo img{
    margin: 15px;
    border-radius: 50%;
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}

.header__navigation{
    
}

.header__navigation ul{
    display: flex;

}
.header__navigation li{
    margin-right: 25px;
}

.content__info{
    margin: 20px auto;
    padding: 15px;
    background: rgba(103, 123, 84, 0.7);
    display: flex;
    border-radius: 10px;
    justify-content: space-around;
    max-width: 100%;
    flex-grow: 0;
}

.content__image{
    width: 90%;
    height: 90%;
}

.content__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 20px;
    text-align: center;
    color: aliceblue;
    background: rgba(255, 255, 255, 0.3);
    justify-content: space-between;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.content__block:hover{
    margin: 2px;

}

.background{
    display: flex;
    background: rgb(103, 123, 84);
    height: 300px;
    color: white;
    margin: 30px 0;
}

.order_button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 30%;
    height: 20%;
    margin: auto;
    border-radius: 50px;
    transition: all 0.3s ease-out;
    background: linear-gradient(45deg, rgb(255,255,255), rgba(103, 123, 84, 1))

}

.order_button:hover{
    width: 35%;
    height: 25%;
    font-size: 150%;
    background: linear-gradient(45deg, rgba(103, 123, 84, 1), rgb(255,255,255))

}

.add_info{
    display: flex;
    align-items: center;
    background: rgba(103, 123, 84, 0.5);
    border-radius: 100px;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
    height: 200px;
}

.add__block{
    display: flex;
    align-items: center;
}

.add__img{
    background: white;

    border-radius: 50%;
}

.add__img img{
    width: 50%;
}

